*.pyc
*.pyo
__pycache__/
*.sqlite3
*.log
*.pot
*.py[cod]
*.env
*.venv
env/
venv/
nordikBackend/nordikVenv/
ENV/
.env/
.idea/
.vscode/
*.egg-info/
dist/
build/
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
frontend/build/
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.history/